/*Shadowscript CSS*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-ms-viewport{
  width: device-width;
}

*{font-family: 'Orbitron', sans-serif;
}

p{font-family: 'Chathura', sans-serif;}

#begin{
	background-image:url("../assets/images/binaryred.jpg");
	background-position: center;
	background-attachment: fixed;
	height: 400px; 

}

#shad{
	font-family: 'Orbitron', sans-serif;
}

#sech{
	font-family: 'Chathura', sans-serif;
	font-size: 40px;
}

#continue{height: 300px;}

#more{
	background-image: url('../assets/images/binary.jpg');
	background-position: center;
	background-attachment: fixed;
	height: 200px;
}

#abitmore{
	height: 300px;
}

#fourh{
	float: right;
	font-size: 40px;
	font-family: 'Chathura', sans-serif;

}

#footer{
/*	height: 50px;
*/	
}